{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
  <div class="container">
    <h4 class="px-2 mb-3 tag-text">Filter By Categories:</h4>
    <div class="category-filter">
      {% for c in category %}
      <div class="category-card">
        <a class="navbar-brand" href="{% url 'category_filter' c.slug %}">
          <h6>{{ c.category }}</h6>
        </a>
      </div>
      {% endfor %}
      <div class="category-card">
        <a class="navbar-brand" href="{% url 'home' %}">
          <h6>All Categories</h6>
        </a>
      </div>
    </div>
    <nav class="navbar bg-white shadow-sm rounded mb-3">
      <div class="px-5">
        <p class="m-2 text-info"><b>Found : {{ data | length }} Products </b></p>
      </div>
    </nav>
  </div>
</section>
<section>
  <div class="product-cards">
    {% for p in data %}
    <div class="card modern-card">
      {% if p.image %}
      <div class="card-img-wrapper">
        <img src="{{ p.image.url }}" alt="product img" class="card-img-top">
      </div>
      {% else %}
      <div class="card-img-wrapper">
        <img src="#" alt="No image" class="card-img-top">
      </div>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ p.title | truncatewords:4 }}</h4>
        <p class="card-desc">{{ p.description | truncatewords:5 }}</p>
        <p class="card-price">{{ p.price }} <span class="currency">taka</span></p>
        <div class="card-categories">
          {% for c in p.category.all %}
          <span class="badge bg-gradient-info m-1">{{ c.category }}</span>
          {% endfor %}
        </div>
        <a class="btn btn-primary w-100 mt-2" href="{% url 'product_details' p.id %}">View Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}