{% extends "base.html" %}

{% block content %}

<section class="structure">

    <div class="contents">
        <h1>Update Task</h1>
        <div class=" form-container">
            <form action="/update/{{task.id}}" method="POST" class="form">
                <label for="content" class="form-label">Update : </label>
                <textarea name="content" rows="4" cols="50"class="form-input" required>{{task.content}}</textarea>
                <input type="submit" value="Update" class="form-button">
            </form>
        </div>
    </div>    
    
</section>

{% endblock  %}