{% extends "base.html" %}
{%load static%}

{%block content%}
<section style="margin-left:20px;">
  <div class="container">
    <h4 class="px-2 mb-3" style="color:rgb(224, 224, 44);">Filter By categories : </h4>
    <div class=" col-12 d-flex flex-wrap">
        {%for c in category%}
        <div class="col-2 p-1 mx-3" style="border-radius: 7px;box-shadow:0px 1px 2px 0px rgb(253, 252, 255),
        1px 2px 4px 0px rgba(145, 71, 241, 0.96),
        2px 4px 8px 0px rgb(92, 66, 237),
        2px 4px 16px 0px rgb(63, 128, 249);">
                <div class="navbar bg-black">
                    <div class="container justify-content-center align-items-center">
                    <a class="navbar-brand" href="{% url 'category_filter' c.slug %}">
                        <h6 style=" color:rgb(77, 255, 249);">{{c.category}}</h6>
                    </a>
                    </div>
                  </div>
            </div>
            {%endfor%} 
        </div>
        <br/>
        <div class="col-3 m-3">
            <nav class="navbar bg-black"style="border-radius: 7px;">
                <div class="px-5">
                    <p class="m-2 text-info"><b>Found : {{ data | length }} Books </b></p>
                </div>
            </nav>
        </div>
    </div>
</div>
</section>

<section style="margin-bottom:10px;">
    <div class="book-cards">
      {%for b in data%}
        <div class="card" style="width: 18rem;">
            <img src="{{b.image.url}}" alt="book img" style="height:260px; border-radius:7px" >
            <div class="card-body">
              <h4><b>Title :</b></h4> <p style="color:blue; font-weight:bold;">{{b.title | truncatewords:4}}</p>
              <h6><b>Description :</b></h6> <p>{{b.Description | truncatewords:15}}</p>
              <h6><b>Borrow Price :</b></h6> <p style="color:#FF5733;font-weight:bold;">{{b.price}} taka</p>
              <h6><b>Categories :</b></h6>
              {%for c in b.category.all%} 
              <button class="btn btn-info p-1 m-1" disabled>{{c.category}}</button>
              {%endfor%}
              <a class="btn btn-primary" href="{% url 'Book_Details' b.id %}">Details</a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>

{%endblock%}