body{
    margin: 0;
    font-family: sans-serif;
}

.structure{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
.contents{
    width:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(45, 109, 238, 0.978), rgb(0, 0, 0));
    flex-wrap: wrap;
    padding: 10px;
}
.contents h1{
    color: rgb(247, 110, 36);
    font-weight: bold;
    font-size: 100px;
}
.table{
    width: 100%;
    table-layout: fixed;
    border-collapse:collapse;
    margin-top: 10px;
}

.table th, .table td{
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    border: 3px dotted rgb(134, 255, 115);
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.Task{
    color:rgb(247, 239, 239);
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgb(9, 9, 9) 0px 3px 5px;
}
table .Added{
    color: rgb(254, 255, 255);
    font-size: 14px;
}
.Task-done{
    text-decoration:line-through underline;
    text-decoration-color: rgb(255, 1, 1);
    color: rgb(255, 254, 248);
    text-overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgb(9, 9, 9) 0px 3px 5px;
}
thead{
    text-align: center;
    color: rgb(14, 219, 255);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ba06f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(55, 54, 54, 0.232);
    background-color: #f9d5a6;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    outline: none;
}

.form-input:focus {
    border-color: #55a1f3;
    box-shadow: 0 0 5px rgba(11, 20, 29, 0.5);
}

.form-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ba17fa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #000000;
}
.btnD, .btnE, .btnM{
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
   
}

.btnD{
    background-color: rgb(255, 0, 0);
    box-shadow: 5px 4px 3px rgb(12, 12, 12);
}
.btnE{
    background-color: rgb(190, 13, 244);
    box-shadow: 5px 4px 3px rgb(12, 12, 12);
}
.btnM{
    background-color: #000000;
    box-shadow: 5px 4px 3px rgb(226, 226, 226);
}
.btnD:hover, .btnE:hover{
    color: rgb(0, 0, 0);
}
.btnM:hover{
    color: #000000;
    background: whitesmoke;
}