{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load crispy_forms_tags %}

<div class="container p-5" style="width:50%; margin:auto;">

    <div class="container2 p-2">
        {%if messages%}
            {%for m in messages%}
            <h4 class="text-{{m.tags}} bg-white text-center p-1" style="border-radius:7px;">{{m}}</h4>
            {%endfor%}
        {%endif%}
    </div>

    <div class="card text-center m-5 p-3">
        <div class="card-header">Login</div>
        <div class="card-body">
            <h5 class="card-title">Provide Information To Login</h5>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}