{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="m-3 col-12">
    <div class="col-12 m-2">
        <div class="card mx-2">
            <div class="card-body">
                <img src="{{book.image.url }}" class="card-img-top" alt="book image" style="width:45%;">
                <h5>Title : {{book.title}}</h5>
                <h6>Description : {{book.Description}}</h6>
                <h6>Borrowing Price : {{book.price}}$</h6>
                <p>
                Categories :
                {% for c in book.category.all %}
                <button class="btn btn-primary btn-sm m-2" disabled >{{c.category}} </button>
                {%endfor%}
                </p>
            {%if user.is_authenticated%}
            <a class="btn btn-warning mx-2" href="{%url 'borrow' book.id %}">Borrow Now</a>
            {%else%}
                <strong class="text-danger"> * Register an Account to Borrow Books</strong>
            {%endif%}
            </div>
        </div>
    </div>

{% endblock %}