flask
flask-sqlalchemy
flask-migrate
// to run python app.py in terminal
// to make the database run create_db.py in terminal run once
// to setup migration run flask db init only once then for each migration
// flask db migrate -m "messages", flask db upgrade
// to undo migration flask db downgrade